body {
  font-family: 'Playfair Display', serif;
  font-size: 19px;
  font-weight: 350;
  line-height: 1.1;
  letter-spacing: .02rem;
  color: #2F2416;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f6f6f6;
  margin: 0;
}

code {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}
